## mc cyrillic issue solved (:
export LC_ALL='en_US.UTF-8'
# alias mc='LC_ALL="en_US.UTF-7" mc'

## mc wrapper
alias mc='. /usr/local/Cellar/midnight-commander/4.8.19/libexec/mc/mc-wrapper.sh'

## shell function to view man pages in Preview app
pman() {
    man -t ${@} | open -f -a /Applications/Preview.app/
}

## refresh shell
alias reload='. ~/.zshrc'

## ls aliases
alias ls='ls -GCF' # color, multicolumns, filetypes
alias la='ls -A' # all files except . and .. (almost all)
alias l.='ls -d .*' # only hidden fil
alias ll='ls -lah' # long list alphabetical sort
alias lt='ls -lahtr' # long list oldest first sort
alias lz='ls -lahS' # long list largest first
alias l='ls -dlh' # long dir info

## custom cd
c() {
    cd $1;
    ls;
    }
alias cd="c"

## lock computer
alias lock='/System/Library/CoreServices/"Menu Extras"/User.menu/Contents/Resources/CGSession -suspend'

## myip, FQDN
alias myip="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
alias fqdn="host `hostname`"

## rsync
alias rsynk="rsync -avzhP"

## LM docker
# export DOCKER_HOST='smazurov.docker.qa.lamoda.tech:2376'
alias d='DOCKER_HOST=smazurov.docker.qa.lamoda.tech:2376 docker'
alias n='NOMAD_ADDR="http://$(dig @smazurov.docker.qa.lamoda.tech +short http.nomad.service.consul | head -1):4646" nomad'
eval "$(direnv hook bash)" # don't understand how it works https://direnv.net/

## LM ssh pathfrase to keychain
alias key="ssh-add -K ~/.ssh/id_rsa"

## LM test stands ssh
alias dck="ssh smazurov@smazurov-01.docker.qa.lamoda.tech"
alias mydb="ssh smazurov@smazurov.mysql01.qa.lamoda.tech"
alias pgsql01="ssh sergeymazurov-01.pgsql01.qa.lamoda.tech"
alias pgsql96="ssh sergeymazurov-01.pgsql96.qa.lamoda.tech"

alias xdc="ssh smazurov@smazurov.xdc.qa.lamoda.tech"

alias e00="ssh smazurov@express.at.qa.lamoda.tech -t 'cd /data/www/express/current/; bash --login'"
alias e02="ssh smazurov@express02.at.qa.lamoda.tech -t 'cd /data/www/express/current/; bash --login'"
alias e03="ssh smazurov@express03.at.qa.lamoda.tech -t 'cd /data/www/express/current/; bash --login'"

alias a01="ssh sergey.mazurov@express01.qa.akado -t 'cd /lamoda/www/current; bash --login'"
alias a02="ssh sergey.mazurov@express02.qa.akado -t 'cd /lamoda/www/current; bash --login'"
alias a03="ssh sergey.mazurov@express03.qa.akado -t 'cd /lamoda/www/current; bash --login'"
alias a04="ssh sergey.mazurov@express04.qa.akado -t 'cd /lamoda/www/current; bash --login'"
alias a05="ssh sergey.mazurov@express05.qa.akado -t 'cd /lamoda/www/current; bash --login'"

source ~/confiles/zsh/prompt.sh
